body {
  flex: auto;
  width: 960px;
  background-color: burlywood;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: beige;
}

li {
  list-style: none;
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: bisque;
}

p.history {
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}

.img_container {
  position: relative;
  text-align: center;
}

.img_centered {
  position: absolute;
  top: 50%;
  left: 40%;
}

button {
  background-color: beige;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

button:hover {
  transition: 0.3s;
  background-color: bisque;
}

button a {
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  flex: 50%;
  padding: 0 4px;
}

.img_grid {
  max-width: 49%;
  padding-top: 10px;
  padding-left: 5px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  margin-top: 6px;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: beige;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

input[type=submit]:hover {
  transition: 0.3s;
  background-color: bisque;
}
